@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    line-height:1;
    font-family: $font-family;
    -webkit-tap-highlight-color: none;
}

ul,li{
    list-style: none;
    padding: 0;margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

img{
    max-width: 100%;
}

.main{
    // margin-top: $header-height;
    min-height: 100%;
    margin-bottom: 2rem;

    @include tablet{
        margin-top: 80px;
    }

    @include mobile{
        margin-top: 60px;
    }
}