$main-color: #f59ca0;
$bg-color: #000;

$txt-black: #222;
$txt-white: #fff;

$header-height: 100px;

$gradient: linear-gradient(-45deg, #50cadf, #f59ca0);

$font-family: "Heebo", sans-serif;

$box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
$transition: all ease 0.35s;

$mobile-width: 600px;
$tablet-width: 1025px;
