$main-color: #f59ca0;
$bg-color: #000;

$txt-black: #222;
$txt-white: #fff;

$header-height: 100px;
$header-height-tablet: 80px;
$header-height-mobile: 60px;

$gradient: linear-gradient(-45deg, #50cadf, #f59ca0);

$font-family: "Heebo", sans-serif;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$transition: all ease 0.35s;

$colors: (
    "white": white,
    "black": black,
    "red": red,
    "yellow": yellow,
    'blue': blue,
    'pink': #f59ca0
);

$mobile-width: 600px;
$tablet-width: 1025px;
