@import "./varriable";
@import "./mixin";
@import "./base";
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/button.scss";
@import "./component/slides.scss";
@import "./component/category.scss";
@import "./component/section.scss";
@import "./component/productCard.scss";
@import "./component/testimonial.scss";
@import "./component/logoBrand.scss";
@import "./component/catalog.scss";
@import "./component/checkbox.scss";
@import "./component/product.scss";
@import "./component/productViewModal.scss";
@import "./component/cart.scss";
@import "./component/cartItemView.scss";
@import "./component/subTotalCart.scss";
@import "./component/search.scss";


