.cartItem{
    &__content{
        padding: 10px 0;
        & > div{
            @include flex(center,center);
            font-size: 18px;
            @include mobile{
                font-size: 16px;
            }
        }
        min-width: 100%;
        border-bottom: 1px solid rgba($txt-black,0.5);
        &__img img{
            width: 70%;
        }
        &__name{
            font-size: 16px;
        }
        &__quantity{
            @include flex(center,center);
            &__plus,&__minus{
                @include flex(center,center);
                background-color:$txt-black;
                width: 40px;
                height: 24px;
                color: white;
                cursor: pointer;
                transition: $transition;

            }

            &__plus:hover,&__minus:hover{
                background-color: $main-color;
            }

            &__input{
                width: 50px;
                height: 24px;
                font-size: 20px;
                font-weight: 400;
                border-top: 1px solid $txt-black;
                border-bottom: 1px solid $txt-black;
                text-align: center;
                line-height:24px;
                @include mobile{
                    font-size: 16px;
                }
            }
        }
        &__remove{
            cursor: pointer;
        }
    }
}