.catalog{
    margin-top: 30px;

    &__showFilter{
        display: none;

        @include tablet{
            display: block;
        }
    }

    &__filter{

        @include tablet{
            position: fixed;
            top: $header-height-tablet;
            left: 0;
            height: 100vh;
            width: max-content;
            z-index: 999;
            transition: $transition;
            box-shadow: $box-shadow;
            background-color: $txt-white;
            transform: translateX(-110%);
            padding-bottom: 80px;
            overflow: auto;
            &__widget{
                &__close{
                    display: flex !important;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                }
            }
        }

        @include mobile{
            top: $header-height-mobile;
        }

        &.active{
            transform: translateX(0);
        }
        &__widget{
            margin: 30px;
            &__close{
                display: none;
            }
            &__header{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            &__body{
                color: $txt-black;
                text-transform: capitalize;

            }
        }
    }
}

