.product{
    &__image{
        &__list__item{
            margin-bottom: 20px;
        }
    }
    .product__description{
        position: relative;
        height: 150px;
        overflow: hidden;
        transition: $transition;
        &.mobile{
            display: none;
        }
        @include mobile{
            display: none;

            &.mobile{
                display: block;
            }
        }
        &.expand{
            height: max-content;
        }
        &__title{
            font-weight: bold;
            font-size: 18px;
            margin: 20px 0;
        }
        &__content{
            font-size: 16px;
            line-height: 18px;
            justify-content: center;
        }
        &-toggle{
            @include flex(center,center);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            width: 100px;
            height: 24px;
            background-color: $txt-black;
            color: $txt-white;
            transition: $transition;
            &:hover{
                background-color: $main-color;
                color: $txt-white;
            }
        }
    }
    
    &__content{
        position: sticky;
        top: $header-height;
        & > *{
            margin-bottom: 20px;
        }
        .name{
            font-size: 24px;
            color: $txt-black;
            font-weight: bold;
            @include mobile{
                margin-top: 20px;
            }
        }
        .price{
            color: $main-color;
            font-weight: bold;
            font-weight: 26px;
        }

        .color{
            &__title{
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;
            }
            &__list{
                @include flex(flex-start,flex-start);

                &__item{
                    width: 40px;
                    height: 40px;
                    border: 1px solid $txt-black;
                    cursor: pointer;
                    margin-right: 4px;
                    @include flex(center,center);
                    .rectangle{
                        width: 35px;
                        height: 35px;
                    }
                    &.active{
                        border: 2px solid $main-color;
                    }
                    &:hover{
                        border: 2px solid $main-color;
                    }
                }
                
            }
        }

        .size{
            &__title{
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;
            }
            &__list{
                @include flex(flex-start,flex-start);
                &__item{
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $txt-black;
                    cursor: pointer;
                    margin-right: 4px;
                    @include flex(center,center);
                    border-radius: 50%;
                 
                    &.active{
                        border: 2px solid $main-color;
                    }
                    &:hover{
                        border: 2px solid $main-color;
                    }
                }
            }
        }

        .quantity{
            &__title{
                font-weight: bold;
                margin-bottom: 20px;
            }
            &__body{
                @include flex(flex-start,center);

                &__plus,&__minus{
                    @include flex(center,center);
                    background-color:$txt-black;
                    width: 40px;
                    height: 24px;
                    color: white;
                    cursor: pointer;
                    transition: $transition;

                }

                &__plus:hover,&__minus:hover{
                    background-color: $main-color;
                }

                &__input{
                    width: 50px;
                    height: 24px;
                    font-size: 20px;
                    font-weight: 400;
                    border-top: 1px solid $txt-black;
                    border-bottom: 1px solid $txt-black;
                    text-align: center;
                    line-height:24px;
                }

            }
        }

        .control{
            @include flex(flex-start,flex-start);
        }
    }
}